source https://api.nuget.org/v3/index.json
framework auto-detect
storage none

nuget Antlr ~> 3.5
nuget bootstrap ~> 3.4
nuget jQuery ~> 3.3
nuget Microsoft.AspNet.Mvc ~> 5.2
nuget Microsoft.AspNet.Razor ~> 3.2
nuget Microsoft.AspNet.Web.Optimization ~> 1.1
nuget Microsoft.AspNet.WebApi ~> 5.2
nuget Microsoft.AspNet.WebApi.Client ~> 5.2
nuget Microsoft.AspNet.WebApi.Core ~> 5.2
nuget Microsoft.AspNet.WebApi.HelpPage ~> 5.2
nuget Microsoft.AspNet.WebApi.Owin ~> 5.2
nuget Microsoft.AspNet.WebApi.WebHost ~> 5.2
nuget Microsoft.AspNet.WebPages ~> 3.2
nuget Microsoft.AspNetCore.App
nuget Microsoft.AspNetCore.Razor.Design ~> 2.2
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform ~> 2.0
nuget Microsoft.NET.Test.Sdk ~> 15.9
nuget Microsoft.Owin ~> 4.0
nuget Microsoft.Owin.Host.SystemWeb ~> 4.0
nuget Microsoft.Web.Infrastructure ~> 1.0
nuget Modernizr ~> 2.8
nuget Newtonsoft.Json ~> 12.0
nuget NSubstitute ~> 4.2
nuget NUnit ~> 3.12
nuget NUnit3TestAdapter ~> 3.13
nuget Owin ~> 1.0
nuget Serilog ~> 2.8
nuget Serilog.Sinks.File ~> 4.0
nuget Serilog.Sinks.RollingFile ~> 3.3
nuget WebGrease ~> 1.6

group WebApi523
   source https://api.nuget.org/v3/index.json
   framework auto-detect
   storage none

   nuget Microsoft.AspNet.WebApi.Client ~> 5.2.3
   nuget Microsoft.AspNet.WebApi.Core ~> 5.2.3
   nuget Microsoft.AspNet.WebApi.HelpPage
   nuget Microsoft.AspNet.WebApi.Owin
   nuget Microsoft.AspNet.WebApi.WebHost
   nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform
   nuget Microsoft.NET.Test.Sdk
   nuget Microsoft.Owin ~> 3.1.0
   nuget Microsoft.Owin.Host.SystemWeb
   nuget Newtonsoft.Json
   nuget NSubstitute
   nuget NUnit
   nuget NUnit3TestAdapter
   nuget Owin
   nuget Serilog
   nuget Serilog.Sinks.File
   nuget Serilog.Sinks.RollingFile
